/* Starter CSS */

* {
    box-sizing: border-box; /* because it’s 2019, jen simmons */
    padding: 0;
    margin: 0;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: sans-serif;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}
body {
    background: #cbdedd;
    margin:0;
}
    
    img {
    display: block;
    width: 100%;
    }

.gallery {
    display: grid;
    margin: 1em 10em 1em 10em;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(240px, 1fr));
}

.item img:hover {
  opacity: 1;
}


/* Generic styles */
html {
  font-family: sans-serif;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}
body {
  margin: 0;
}

/* Photo by Unsplash */
.personal {
  background: url("https://images.unsplash.com/photo-1506104489822-562ca25152fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3449&q=80");
  background-size: cover;
  padding: 4rem 2rem;
  margin: auto; 
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
}

/* START HERE */

/* Grid styles */

.personal {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
}

/* you can start to use your color palettes here for transparent background in rgba*/
.inner-me {
  background: rgba(0.2, 0, 4, 0.4);
  padding: 1.5rem;
  border-radius: 1rem;
}

.inner-me > h1 {
  color: white;
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* you can start to use your color palettes here or pick a color from the background using the eyedropper tool in Firefox */
.subhead {
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
  margin-top: 2em;
  letter-spacing: 2px;
  
}

.home {
    
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: 7em;
}


.home a {
    color: black;
    text-decoration: none;
    border-radius: 7px;
    background: #d4d5d0;
    padding: 10px;
    font-family: serif;   
}

.home a:hover {
    border:1px;
    color: #2f6a71;
}

/* grids */
.inner-hero {
  grid-column: 2;
}

@media (min-width: 600px) {
  .inner-hero {
    grid-column-start: 3;
  }
}

@media (min-width: 1000px) {
  .inner-hero {
    grid-column: 1;
  }
}

/*nav-bar*/

.logo {
    padding-top: 1.4em;
    padding-bottom: 1em;
    font-size: 2.5em;
    letter-spacing:5px;
    text-transform: uppercase;
    font-family:serif;
    justify-content: center;
    background: #4d7b79;
    display: flex;
    color: white;   
}

.logo a {
    color: white;
    text-decoration: none;
}

.logo a:hover {
    color: #e8d5bb;
}

.main-nav {
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
    width: 100%;
    background: #4d7b79;
    }  

.main-nav a {
    text-decoration: none;
    text-align: center;
    border-top: 2px;
    display: block;
    padding: 1.5em 8em;
    letter-spacing:2px;
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    font-family: serif;
    }

.main-nav a:hover {
  background: #e8d5bb;
}



/*hobbies.html*/

img{
  display: block;
  max-width: 100%;
    
}

.hobby {
  display: flex;
  justify-content:center;
  flex-wrap:wrap; 
}

.hobbies {
  display: flex;
  background-color: white;
  flex-direction: column;
  min-width: 250px;
  max-width: 350px;
  border-radius: 0.5rem;
  border: 1px solid gray;
  position: relative;
  top: 0;
  margin: 20px;
}

.hobbies:hover {
  transition: all 0.1s ease-in;
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}


.favorites {
  max-width: inherit;
  max-height: auto;
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.description {
  padding: 1rem;
  flex-grow: 1;
  border-radius: 0.5rem;
}

.hobbiesH1 {
  font-family: sans-serif;
  font-size: 1.8rem;
  margin: 0;
  color: black;
}

.hobbies p {
  text-transform: full-width;
  color:black;
  font-size: 0.8rem;
  line-height: 1.5;
  margin-top: 2em;
}


/*music.html*/

img{
  object-fit: cover;
}

article {
  background: lightgrey;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  color: black;
}

article p {
  line-height: 1.3;
  color: black;
  margin:1em 0em;
  text-transform:none;
}

.columns {
  display:grid;
  grid-gap: 1em;
  margin: 2em auto;
  max-width: 1000px;
}

@media (min-width: 600px) {
  .columns {
    grid-template-columns:1fr 1fr;
     grid-template-rows:1fr 1fr 1fr; 
  }
  .image.one {
    grid-column: 1;
    grid-row: 1;
  }
  .text.one {
    grid-column: 2;
    grid-row: 1;
  }
  .image.two {
    grid-column: 2;
    grid-row: 2;
  }
  .text.two {
    grid-column: 1;
    grid-row: 2;
  }
  .image.three {
    grid-column: 1;
    grid-row: 3;
  }
  .text.three {
    grid-column: 2;
    grid-row: 3;
  }
}

@media (min-width: 1100px) {
  .columns {
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
  }
  .image.one {
    grid-column: 1;
    grid-row: 1;
  }
  .text.one {
    grid-column: 1;
    grid-row: 2;
  }
  .image.two {
    grid-column: 2;
    grid-row: 1;
  }
  .text.two {
    grid-column: 2;
    grid-row: 2;
  }
  .image.three {
    grid-column: 3;
    grid-row: 1;
  }
  .text.three {
    grid-column: 3;
    grid-row: 2;
  }
}

/*parallax.html*/


.headerbox {
  height: 100vh;
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1501555088652-021faa106b9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2553&q=80");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.title {
  height: 280px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -150px;
}

.title h1 {
  color: white;
  font-size: 10vw;
}

.transparent {
  height: 10em;
  width: 100%;
  position: absolute;
  top: 75%;
  margin-top: 5em;
}

.transparent h2 {
  font-size: 12vw;
  text-align: end;
  padding-right: 30px;
  color: maroon;
}

.content {
  margin: 0 auto;
  max-width: 90ch;
  height: 100vh;
  padding: 2rem;
}

.content article {
  padding-top: 50px;
  max-width: 650px;
  margin: 0 auto;
  line-height: 1.3;
}

.second-image {
  position: relative;
  height: 600px;
  background-image: url("https://images.unsplash.com/photo-1493787039806-2edcbe808750?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}


      
 
    /* This is the CSS markup for commenting */
    
    /* A one-line comment */
    
    /*
    A comment
    which stretches
    over several
    lines
    */
    
    /* The comment below is used to
       disable specific styling */
    
    /*
    span {
      color: blue;
      font-size: 1.5em;
    }
    */
    /* highlight the item and use Command + slash to comment something out. */

